body {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 10px;
    background: #f3f3f3;
}

.wrapper {
    background: white;
    padding: 14px;
    border-radius: 12px;
    max-width: 650px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 0;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: column;
}

.field input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
    font-size: 14px;
}

.pause-col { width: 50px; }
.spesen-col { width: 40px; }

#signature {
    width: 100%;
    height: 150px;
    border: 1px solid #aaa;
    margin-top: 12px;
    margin-bottom: 18px;
    border-radius: 8px;
    background: white;
    touch-action: none;
    z-index: 1;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    z-index: 9999;
    position: relative;
}

.btn-grey { background: #777; color: white; }
.btn-green { background: #25D366; color: white; }

